# Cloudflare R2 配置
CF_ACCESS_KEY_ID=your_access_key_id
CF_ACCESS_SECRET=your_access_secret
CF_ENDPOINT=https://your_account_id.r2.cloudflarestorage.com
CF_BUCKET=your_bucket_name
CF_PUBLIC_ACCESS_URL=https://your_cdn_domain.com
